@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');

body, html{
    height: 100%;
    width: 100%;
    color: #eee;
    font-family: Poppins;
}

body .black-bg{
    background-color: #101010;
}

body .dark-bg{
    background-color: #141414;
}

p{
    color: #898989;
    font-family: Poppins;
}

h1,h4,h5,i{
    color: #e2e2e2;
    
}

.height-100 {
    height: 100%;
}

/* Navbar */
.navbar-custom{
    background-color:transparent;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

.navbar-custom.scrolled{
    -webkit-box-shadow: 0 1px 4px rgba(2, 3, 3, 0.15);
    box-shadow: 0 1px 4px rgba(2, 3, 3, 0.15);
    padding: 20px 0;
    background-color: #111111;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.logo{
    max-width: 40%;
}

/* Header */
.bg-header{
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    
}

.header-text h3{
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 0;
    color: #fff ;
}

.header-text h1{
    font-size: 3.6rem;
    font-weight: 600;
    margin-bottom: 2px;
    color: #fff ;
}

.header-text h4{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1rem;
    color: #fff ;
}

.header-text p{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 28px;
    color: #fff ;
}

.btn-wrk {
    background-color: transparent;
    border: 2px solid #ffffff ;
    border-radius: 0px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    padding: 0 44px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    letter-spacing: 3.20px;
}

@media (max-width: 401px) { 
    .btn-wrk{
        margin-bottom: 1rem;
    }
}

.btn-wrk:hover {
    background-color: #003663;
    border-color: #003663;
    color: #ffffff;
}

.btn-cnt {
    background-color: #003663;
    border: 0 none;
    border-radius: 0px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    letter-spacing: 3.20px;
}

.btn-cnt:hover {
    background-color: #000;
}

.overlay::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0,0,0,.60);
}

.overlay .container{
    z-index: 2;
    padding-top: 15%
}

@media (max-width: 576px) { 
    .overlay .container{
        padding-top: 25%
    }
}

/* About */
.about-img{
    max-width: 100%;
    box-shadow: -10px 10px #003663;

}

/* Services */
.serv-bg .serv{
    position: relative;
    z-index: 2;
}

.serv-bg::before{
    background-color: #003663;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.serv-hr{
    margin-top: 0rem;
    margin-bottom: 1rem;
    border-top: 2px solid #fff;
    width: 1.5em;
    margin-left: 0px;
}

.serv-hr:hover{
    border-color: #003663;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

}

/* Skills */
.skill-h5{
    background-color: #003663;
    display: table;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 2px 15px 0;
}

.progress{
    height: 0.2rem;
    overflow: hidden;
    background-color: #898989;
}

.prog-numb{
    float: right;
}

.progress-bar {
    background-color: #003663;
}

/* Recent Work */
.port1{
    width: 100%;
    height: 20em;
}

.port2{
    width: 100%;
    height: 15em;
}

.port3{
    width: 100%;
    height: 20em;
}

.hovereffect {
    width:100%;
    /*height:100%;*/
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}
    
.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,54,99,.80);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out

}
    
.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
    
.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:1rem ;
    font-weight: 300;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
}
    
.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:23% 0 0;
    padding:7px 14px;
}
    
.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}

/* Contact */
.cnt-ul{
    list-style: none;
    padding-left: 0;
}

#cnt-msg{
    height: 6em;
    width: 100%;
}

.ctn-input{
    border: 1px solid rgba(255,255,255,.40);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 8px;
    padding: 0 20px;
    line-height: 48px;
    height: 48px;
    color: #ffffff;
    font-weight: 300;
    width: 100%;
    background-color: transparent;
    letter-spacing: .10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/* Footer */
.footer-basic {
    padding: 1rem 0;
    background-color: #111111;
    color: #999999;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color: #fff;
    text-decoration:none;
    opacity:1;
  }
  
  .footer-basic ul a:hover {
    border-bottom: 1px solid #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
    color: #fff;
  }
  
  .footer-basic .social > a {
    font-size:20px;
    width:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #fff;
    margin:0 8px;
    color:inherit;
  }
  
  .footer-basic .social > a:hover {
    font-size: 18px;
    background-color:#003663;
    border: 0.5px solid #003663;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#fff;
    margin-bottom:0;
    font-weight: 400;
  }
  
  