body, html{
    height: 100%;
    width: 100%;
    color: #eee;
}

body .black-bg{
    background-color: #101010;
}

body .dark-bg{
    background-color: #141414;
}

.height-100 {
    height: 100%;
}

.bg-header{
    background-image: url('../../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    color: #fff;
}

.overlay::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0,0,0,.60);
}

.overlay .container{
    z-index: 2;
    padding-top: 15%
}

.about-img{
    max-width: 100%;
    box-shadow: -10px 10px #003663;

}

.serv-bg .serv{
    position: relative;
    z-index: 2;
}

.serv-bg::before{
    background-color: #003663;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.serv-hr{
    margin-top: 0rem;
    margin-bottom: 1rem;
    border-top: 2px solid #fff;
    width: 1.5em;
    margin-left: 0px;
}

.serv-hr:hover{
    border-color: #003663;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

}



.skill-h5{
    background-color: #003663;
    display: table;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 2px 15px 0;
}

.progress{
    height: 0.2rem;
    overflow: hidden;
    background-color: #898989;
}

.prog-numb{
    float: right;
}

.progress-bar {
    background-color: #003663;
}

.port1{
    width: 100%;
    height: 20em;
}

.port2{
    width: 100%;
    height: 15em;
}

.port3{
    width: 100%;
    height: 20em;
}

.cnt-ul{
    list-style: none;
    padding-left: 0;
}

#cnt-msg{
    height: 6em;
    width: 100%;
}

.ctn-input{
    border: 1px solid rgba(255,255,255,.40);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 8px;
    padding: 0 20px;
    line-height: 48px;
    height: 48px;
    color: #ffffff;
    font-weight: 300;
    width: 100%;
    background-color: transparent;
    letter-spacing: .10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/* Footer */
.footer-basic {
    padding: 1rem 0;
    background-color: #111111;
    color: #999999;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color: #fff;
    text-decoration:none;
    opacity:1;
  }
  
  .footer-basic ul a:hover {
    border-bottom: 1px solid #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
    color: #fff;
  }
  
  .footer-basic .social > a {
    font-size:20px;
    width:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #fff;
    margin:0 8px;
    color:inherit;
  }
  
  .footer-basic .social > a:hover {
    font-size: 18px;
    background-color:#003663;
    border: 0.5px solid #003663;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#fff;
    margin-bottom:0;
    font-weight: 400;
  }
  
  